<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Shrek 2</h1>
          <p class="lead">Qué película. ¿qué más les puedo decir?</p>
        </div>
    </div>    
</div>
<h1>{{score}}</h1>
<div>
    <button type="button"  (click)="add()" class="btn btn-info">+1</button>
    <button type="button"  (click)="submit()" class="btn btn-info">submit</button>
    <button type="button"  (click)="less()" class="btn btn-info">-1</button>
</div>


